$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d4334516936865c96b0e144d9f12a7c3") format("truetype"),
url("./flaticon.woff?d4334516936865c96b0e144d9f12a7c3") format("woff"),
url("./flaticon.woff2?d4334516936865c96b0e144d9f12a7c3") format("woff2"),
url("./flaticon.eot?d4334516936865c96b0e144d9f12a7c3#iefix") format("embedded-opentype"),
url("./flaticon.svg?d4334516936865c96b0e144d9f12a7c3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "call": "\f101",
    "compass": "\f102",
    "crane": "\f103",
    "engineer": "\f104",
    "facebook": "\f105",
    "invitation": "\f106",
    "left-arrow": "\f107",
    "linkedin": "\f108",
    "oil-platform": "\f109",
    "placeholder": "\f10a",
    "right-arrow": "\f10b",
    "strategy": "\f10c",
    "twitter": "\f10d",
);

.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-compass:before {
    content: map-get($flaticon-map, "compass");
}
.flaticon-crane:before {
    content: map-get($flaticon-map, "crane");
}
.flaticon-engineer:before {
    content: map-get($flaticon-map, "engineer");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-invitation:before {
    content: map-get($flaticon-map, "invitation");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-oil-platform:before {
    content: map-get($flaticon-map, "oil-platform");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-strategy:before {
    content: map-get($flaticon-map, "strategy");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
