{% extends 'app/base.html' %}
{% block content %}

    <menu>
        <div class="row nav-sticky">
            <div class="row-nav col-12 ff-oswald">
                <ul class="d-flex nav-ul color-fff">
                    <li class="nav-li"><a href="/index" >Home</a></li>
                    <li class="nav-li"><a href="/about" >About Us</a></li>
                    <li class="nav-li"><a href="/projects" class="selected">Our Projects</a></li>
                    <li class="nav-li"><a href="/testi">Testimonials</a></li>
                    <li class="nav-li"><a href="/blog" >Blog</a></li>
                    <li class="nav-li"><a href="/contact" >Contact</a></li>
                </ul>
            </div>
        </div>
    </menu>

    <section>
        <figure class="bg-img-fig height-60vh">
            <div class="overlay"></div>
            <img src="{{ url_for('static', filename='img/hero_1.jpg')}}" alt="" class="bg-img user-none">

            <div class="row-title ">
                <div class="about-section-title txt-algn-cnt max-w-1140 p-abs margin-0-auto">
                    <h2 class="margin-0">Our Projects</h2>
                    <p class="d-flex jc-center ff-mulish ">
                        <a href="/index" class="color-fff margin-r-1">Home</a>
                        <span class="margin-r-1">/</span>
                        <span class="margin-r-1">Projects</span>
                    </p>
                </div>
            </div>


        </figure>



    </section>

    <main>

        <div class="block-projects">
            <div class="container max-w-1140 margin-0-auto">
                <div class="row d-flex">
                    {% for project in pro_category %}
                    <div class="col-3">
                        <div class="pro-left project">

                            <figure class="fig-pro fig-pro-left">
                                <img src="static/uploads/{{project.image}}" alt="">
                            </figure>
    
                            <div class="pro-overlay"></div>
    
                            <div class="pro-item">
                                <a href="#">
                                    <span class="span-orange">
                                        {{project.category}}
                                    </span>
    
                                    <h2 class="color-fff">
                                        {{project.name}}
                                    </h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>





        <div class="block-7">
            <div class="container container-sub">
                <div class="row max-w-1140 d-flex margin-0-auto">
                    <div class="col-6">
                        <div class="sub-left">
                            <h2>
                                SUBSCRIBE TO NEWSLETTER
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, reprehenderit!
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <form action="#" class="d-flex">
                            <input type="text" class="form-sub form-sub-input">
                            <input type="submit" class="form-sub form-sub-submit" value="SUBSCRIBE">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% endblock %}